/* start coding here */
input {
    border-radius: 3px;
    height: 50px;
    width: 240px;
}

input:disabled {
    background-color: lightgrey;
}

input:hover {
    border-color: khaki;
    color: pink;
}

button {
    width: 120px;
    height: 36px;
    background-color: khaki;
}